<web-app>
	<display-name>
		Memorizzazione delle scelte dell'utente attraverso HttpSession
	</display-name>
	<description>
	Questa app gestisce una sessione (survey) attraverso HttpSession
	</description>
	<welcome-file-list>
		<welcome-file>
		SessioneScegliStoria.html
		</welcome-file>
	</welcome-file-list>

	

<servlet>
		<servlet-name> 
			nomeacasopost
		</servlet-name>

		<servlet-class>
			Sessione
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name> 
			nomeacasopost
		</servlet-name>
		<url-pattern>
			/sessions
		</url-pattern>
	</servlet-mapping>

</web-app>